#react-animator aside img {
    cursor: pointer;
    min-width: 128px;
    min-width: 128px;
    max-height: 128px;
    max-height: 128px;
    margin: 0 1em 1em 0;
    width: 128px;
    height: 128px;
}

#screen {
    text-align: center;
    margin-top: 1em;
}

aside {
    background: gray;
    padding-top: 1em;
}

h1 {
    align: center;
}
