/**
 * General
 */
body {
	background: #000;
}

/**
 * Image/video player
 */
#player {
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}
#player img {
	max-height: calc(100vh - 88px);
}

